/* line 5, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/main.scss */
body {
  background-color: #4500a7 !important;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 16px;
  padding: 400px 0 0 0;
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}

/* line 19, ../sass/main.scss */
header {
  width: 100%;
  height: 400px;
  background-color: #4500a7;
  text-align: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  transition: all 0.5s ease-in, all 0.5s ease-in-out;
}
@media (min-width: 360px) {
  /* line 32, ../sass/main.scss */
  header #itadlogo-header {
    display: block;
    width: 240px;
    float: left;
    margin: 10px auto;
    -moz-transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
  }
}
@media (min-width: 600px) {
  /* line 32, ../sass/main.scss */
  header #itadlogo-header {
    width: 300px;
  }
}
@media (min-width: 360px) {
  /* line 48, ../sass/main.scss */
  header h1 {
    color: #fff;
    line-height: 100px;
    font-size: 20px;
    margin-top: 55px !important;
    display: block;
    float: left;
    font-weight: lighter;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
  }
}
@media (min-width: 600px) {
  /* line 48, ../sass/main.scss */
  header h1 {
    line-height: 240px;
    font-weight: 100;
  }
}
@media (min-width: 970px) {
  /* line 48, ../sass/main.scss */
  header h1 {
    font-size: 42px;
    line-height: 230px;
    display: block;
    font-weight: 100;
  }
}
/* line 73, ../sass/main.scss */
header h1 .date {
  font-size: 0.5em;
  color: #09e980;
  float: left;
}
@media (min-width: 360px) {
  /* line 73, ../sass/main.scss */
  header h1 .date {
    float: none;
  }
}
/* line 89, ../sass/main.scss */
header img {
  padding: 30px 20px;
  -moz-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  transition: all 0.5s ease-in, all 0.5s ease-in-out;
}
@media (min-width: 360px) {
  /* line 89, ../sass/main.scss */
  header img {
    float: center;
  }
}
@media (min-width: 970px) {
  /* line 89, ../sass/main.scss */
  header img {
    float: right;
  }
}
/* line 102, ../sass/main.scss */
header p {
  color: #e3e3e3;
  text-align: left;
  line-height: 20px;
  display: block;
  font-weight: lighter;
  text-transform: uppercase;
}
/* line 112, ../sass/main.scss */
header #lublin-header {
  width: 200px;
  display: block;
  -moz-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in, all 0.5s ease-in-out;
  transition: all 0.5s ease-in, all 0.5s ease-in-out;
}
@media (min-width: 360px) {
  /* line 112, ../sass/main.scss */
  header #lublin-header {
    text-align: center;
  }
}
@media (min-width: 970px) {
  /* line 112, ../sass/main.scss */
  header #lublin-header {
    float: right;
  }
}
/* line 126, ../sass/main.scss */
header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 48px;
  width: 100%;
  background-color: #381D94;
}
/* line 134, ../sass/main.scss */
header nav .buttons {
  margin: 0 100px;
}
/* line 138, ../sass/main.scss */
header nav a {
  color: #fff;
  display: inline-block;
  padding: 22px 15px;
  line-height: 1;
  text-decoration: none;
  background-color: #381D94;
}
/* line 146, ../sass/main.scss */
header nav a:hover {
  background-color: #4300b6;
  color: #fff;
  text-decoration: none;
}

/* line 155, ../sass/main.scss */
#main-wrapper {
  overflow: hidden;
  background: #4500a7;
  margin: 450px auto 0 auto;
  -moz-transition: margin-top 0.5s ease;
  -o-transition: margin-top 0.5s ease;
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;
}
@media (min-width: 360px) {
  /* line 155, ../sass/main.scss */
  #main-wrapper {
    max-width: 360px;
    width: 100%;
  }
}
@media (min-width: 600px) {
  /* line 155, ../sass/main.scss */
  #main-wrapper {
    background: #4500a7;
    width: 100%;
    max-width: 800px;
  }
}
/* line 171, ../sass/main.scss */
#main-wrapper section {
  padding: 20px;
  margin: 0 0 40px 0;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 480px) {
  /* line 171, ../sass/main.scss */
  #main-wrapper section {
    width: 100%;
  }
}
/* line 181, ../sass/main.scss */
#main-wrapper section h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #2c3e50;
  text-align: left;
}
/* line 190, ../sass/main.scss */
#main-wrapper section p {
  margin-bottom: 2rem;
  line-height: 2;
  color: #7f8c8d;
}
/* line 195, ../sass/main.scss */
#main-wrapper section p .highlight {
  color: #e9b600;
  text-transform: uppercase;
}
@media (mid-width: 480px) {
  /* line 202, ../sass/main.scss */
  #main-wrapper section #partnerzy {
    width: 100%;
  }
}
/* line 210, ../sass/main.scss */
#main-wrapper a {
  display: block;
  position: relative;
  top: -160px;
  margin: 20px 0;
  visibility: hidden;
}
/* line 218, ../sass/main.scss */
#main-wrapper h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2;
  color: #4E58AF;
  text-align: center;
}

/* line 228, ../sass/main.scss */
iframe {
  display: block !important;
  position: relative;
  overflow: auto;
  margin: 30px auto !important;
}
@media (min-width: 360px) {
  /* line 228, ../sass/main.scss */
  iframe {
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  /* line 228, ../sass/main.scss */
  iframe {
    width: 600px;
  }
}

/* line 242, ../sass/main.scss */
#slider {
  position: relative;
  display: block;
  overflow: auto;
  margin: 30px auto;
}

/* line 250, ../sass/main.scss */
.carousel-inner img {
  margin: auto;
}

/* line 255, ../sass/main.scss */
#partnerzy {
  height: 400px;
  max-width: 100%;
  background-color: #fff;
  text-align: center;
}
@media (min-width: 360px) {
  /* line 263, ../sass/main.scss */
  #partnerzy img {
    width: 360px;
  }
}
@media (min-width: 600px) {
  /* line 263, ../sass/main.scss */
  #partnerzy img {
    width: 600px;
  }
}
@media (min-width: 800px) {
  /* line 263, ../sass/main.scss */
  #partnerzy img {
    width: 800px;
  }
}
@media (min-width: 360px) {
  /* line 278, ../sass/main.scss */
  #partnerzy .pojedyncze_logo {
    width: 360px;
  }
}
@media (min-width: 600px) {
  /* line 278, ../sass/main.scss */
  #partnerzy .pojedyncze_logo {
    width: 600px;
  }
}
@media (min-width: 800px) {
  /* line 278, ../sass/main.scss */
  #partnerzy .pojedyncze_logo {
    width: 800px;
  }
}

/* line 295, ../sass/main.scss */
footer {
  background-color: #4500a7;
  color: #fff;
  text-align: center;
  width: 100%;
}
@media (min-width: 360px) {
  /* line 301, ../sass/main.scss */
  footer img {
    width: 250px;
  }
}
@media (min-width: 480px) {
  /* line 301, ../sass/main.scss */
  footer img {
    width: 300px;
  }
}
@media (min-width: 600px) {
  /* line 301, ../sass/main.scss */
  footer img {
    width: 340px;
  }
}

/* Sticky Header Style */
/* ---------------------------------------- */
/* line 319, ../sass/main.scss */
body.sticky-header {
  padding-top: 200px;
}
/* line 321, ../sass/main.scss */
body.sticky-header header {
  height: 60px;
  z-index: 100000;
  background-color: #3e1fa2;
}
/* line 326, ../sass/main.scss */
body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transform: translate(0, 100%);
}
/* line 330, ../sass/main.scss */
body.sticky-header header #itadlogo-header {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transform: translate(0, 100%);
}
/* line 334, ../sass/main.scss */
body.sticky-header header #pollublogo {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transform: translate(100%, 0);
}
/* line 340, ../sass/main.scss */
body.sticky-header #main-wrapper {
  margin: 0 auto;
}
