@import "compass";
@import "compass/css3";
//@import "compass/reset";

*{
    @include box-sizing(border-box);
}

body{
    background-color: #4500a7 !important;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 16px;
    padding: 400px 0 0 0;
    @include transition(padding-top .5s ease);
}


//header + navbar
header{
    width: 100%;
    height: 270px;
    background-color: #4500a7;
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    @include transition(all 0.5s ease-in, all 0.5s ease-in-out);

    #itadlogo-header {
        display: block;
        float: left;
        //padding: 50px 50px;
        margin: 10px auto;
        @include transition(all 0.3s ease-in-out, all 0.3s ease-in-out);
    }

    h1{
        font-size: 42px;
        color: #fff;
        line-height: 230px;
        //margin: 0 100px 0 0;
        display: block;
        float: left;

        text-transform: uppercase;
        font-weight: 100;
        @include transition(all 0.3s ease-in-out, all 0.3s ease-in-out);

        .date{
            font-size: 0.5em;
            color: #09e980;
        }
    }


    img {
        text-align: right;
        padding: 30px 20px;
        @include transition(all 0.5s ease-in, all 0.5s ease-in-out);
    }

    p{
        color: #e3e3e3;
        text-align: left;
        line-height: 20px;
        display: block;
        font-weight: lighter;

        text-transform: uppercase;
    }

    nav{
        position: absolute;
        bottom: 0;
        height: 60px;
        line-height: 48px;
        width: 100%;
        background-color: #381D94;

        .buttons{
            margin: 0 100px;
        }

        a{
            color: #fff;
            display: inline-block;
            padding: 22px 15px;
            line-height: 1;
            text-decoration: none;
            background-color: #381D94;

            &:hover{
                background-color: #4300b6;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
// main part of site
#main-wrapper
{
    background: #4500a7;
    width: 100%;
    max-width: 800px;
    margin: 300px auto 0 auto;
    @include transition(margin-top .5s ease);

    section {
        padding: 20px;
        margin: 0 0 40px 0;
        background-color: #fff;
        @include border-radius(4px);
        @include box-shadow(0 1px 0 rgba(0, 0, 0, .2));

        h2{
            font-size: 34px;
            text-transform: uppercase;
            font-weight: 100;
            line-height: 2;
            color: #2c3e50;
            text-align: left;
        }

        p{
            margin-bottom: 2rem;
            line-height: 2;
            color: #7f8c8d;

            .highlight {
                color: #e9b600;
                text-transform: uppercase;
                //font-size: 1.5rem;
            }
        }
    }

    a{
        display: block;
        position: relative;
        top: -160px;
        margin: 20px 0;
        visibility: hidden;
    }

    h2{
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 2;
        color: #09e980;
        text-align: center;
    }
}

iframe{
    display: block;
    position: relative;
    overflow: auto;
    margin: 30px auto;
}

#slider {
    position: relative;
    display: block;
    overflow: auto;
    margin: 30px auto;
    //z-index: 1;
}

.carousel-inner img {
    margin: auto;
}


#partnerzy {
    height: 400px;
    max-width: 100%;
    background-color: #fff;
}

footer {
    background-color: #4500a7;
    color: #fff;
    text-align: center;
    width: 100%;
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header{
    padding-top: 200px;
    header{
        height: 60px;
        z-index: 3;
        background-color: rgb(62,31,162);
        h1{
            @include scale(0);
            transform: translate(0, 100%);
        }
        #itadlogo-header{
            @include scale(0);
            transform: translate(0, 100%);
        }
        #pollublogo{
            @include scale(0);
            transform: translate(100%, 0);
        }
    }

    #main-wrapper {
        margin: 0 auto;
    }
}